body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body > div {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#pause {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: black;
  height: 35px;
  width: 35px;
}

#pause > div {
  background-color: grey;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
}

#pause > div:first-of-type {
  clip-path: polygon(20% 15%, 40% 15%, 40% 85%, 20% 85%);
}

#pause > div:last-of-type {
  clip-path: polygon(60% 15%, 80% 15%, 80% 85%, 60% 85%);
}

#crosshair {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  background-color: grey;
  clip-path: polygon(
    0 40%,
    40% 40%,
    40% 0,
    60% 0,
    60% 40%,
    100% 40%,
    100% 60%,
    60% 60%,
    60% 100%,
    40% 100%,
    40% 60%,
    0 60%
  );
}

#mobileControls {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 27vh;
  width: 27vh;
}

#mobileControls > div {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
}

#mobileControls > div > div {
  height: 7vh;
  width: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left > img {
  transform: rotate(-90deg);
}
#right > img {
  transform: rotate(90deg);
}
#back > img {
  transform: rotate(180deg);
}

#mobileControls > div > div > img {
  height: 10vh;
  width: 10vh;
}

#menu {
  background-color: rgba(92, 91, 91, 0.5);
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#loader {
  top: 50%;
  left: 50%;
  position: absolute;
  color: white;
  font-size: 2em;
  transform: translate(-50%, -50%);
}

#loader > img {
  top: -65%;
  left: 95%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#loader > span:first-of-type {
  animation: loader infinite 2s linear both;
}

#loader > span:nth-of-type(2) {
  animation: loader2 infinite 2s linear both;
}

#loader > span:last-of-type {
  animation: loader3 infinite 2s linear both;
}

@keyframes loader3 {
  0% {
    opacity: 0;
  }
  74.9% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader2 {
  0% {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }
  24.9% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#menu > #start {
  padding: 1em;
  width: fit-content;
  height: fit-content;
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#menu > #start > div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  text-align: center;
}

#menu > #start > img {
  top: 0%;
  left: 70%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#menu > #start:hover {
  cursor: pointer;
}

#menu > #video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none !important;
}

.lowerStartButton {
  top: 90% !important;
}

body > div {
  position: relative;
}
